

<style>

#container {
	background-color: red;
}

#pg{
	background-color:black;
    color:white;
	padding:5px 10px 50px 500px;
}

#btnmap{
	background-color:black;
}

#btnab{
	background-color:black;
}

#submit{
	background-color:black;
}



</style>